<header>
  <div class="container">
    <h1 class="text-center">Contact Us</h1>
  </div>
  
</header>

<main class="container">
  <div class="row contact-main location">
    <div class="col-md-4 image-overlay-container">
      <a routerLink="/australia-contact">
        <img src="assets/img/b92603_1d063be698c84e9e9f39f2e0a6e41764.jpg" alt="">
        <div class="image-overlay">
          <div class="image-overlay-text">
            <h3>Australia Office</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 image-overlay-container">
      <a routerLink="/thailand-contact">
        <img src="assets/img/b92603_a57f63633d1b4f1fb70681e2e65842cd.jpg" alt="">
        <div class="image-overlay">
          <div class="image-overlay-text">
            <h3>Thailand Office</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 image-overlay-container">
      <a routerLink="/turkey-contact">
        <img src="assets/img/b92603_85b91a811c2f4589a35e34d754f658ca.jpg" alt="">
        <div class="image-overlay">
          <div class="image-overlay-text">
            <h3>Turkey Office</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="contact-main row">
    <div class="col-md-6 skype">
      <img class="img-auto" src="assets/img/chatbutton_24px.png" alt="">
      <hr>
      <p>For all contact details please click on the country you wish to contact above.</p>
      <hr>
      <p>LINE: @ism2au / ism2au<br>Facebook: ism2au</p>
    </div>
    <div class="col-md-6">
      <div class="card border-primary mb-3">
        <div class="card-header">Newsletter Subscription</div>
        <div class="card-body">
          <h4 class="card-title">Newsletter Form</h4>
          <p class="card-text">Join our mailing list Never miss an update</p>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="txtName" placeholder="Name">
            </div>
            <div class="form-row">
              <div class="form-group col-4">
                <select class="form-control">
                  <option value="+93">Afghanistan (+93)</option>
                  <option value="+355">Albania (+355)</option>
                  <option value="+213">Algeria (+213)</option>
                  <option value="+1 684">AmericanSamoa (+1 684)</option>
                  <option value="+376">Andorra (+376)</option>
                  <option value="+244">Angola (+244)</option>
                  <option value="+1 264">Anguilla (+1 264)</option>
                  <option value="+1268">Antigua and Barbuda (+1268)</option>
                  <option value="+54">Argentina (+54)</option>
                  <option value="+374">Armenia (+374)</option>
                  <option value="+297">Aruba (+297)</option>
                  <option value="+61">Australia (+61)</option>
                  <option value="+43">Austria (+43)</option>
                  <option value="+994">Azerbaijan (+994)</option>
                  <option value="+1 242">Bahamas (+1 242)</option>
                  <option value="+973">Bahrain (+973)</option>
                  <option value="+880">Bangladesh (+880)</option>
                  <option value="+1 246">Barbados (+1 246)</option>
                  <option value="+375">Belarus (+375)</option>
                  <option value="+32">Belgium (+32)</option>
                  <option value="+501">Belize (+501)</option>
                  <option value="+229">Benin (+229)</option>
                  <option value="+1 441">Bermuda (+1 441)</option>
                  <option value="+975">Bhutan (+975)</option>
                  <option value="+387">Bosnia and Herzegovina (+387)</option>
                  <option value="+267">Botswana (+267)</option>
                  <option value="+55">Brazil (+55)</option>
                  <option value="+246">British Indian Ocean Territory (+246)</option>
                  <option value="+359">Bulgaria (+359)</option>
                  <option value="+226">Burkina Faso (+226)</option>
                  <option value="+257">Burundi (+257)</option>
                  <option value="+855">Cambodia (+855)</option>
                  <option value="+237">Cameroon (+237)</option>
                  <option value="+1">Canada (+1)</option>
                  <option value="+238">Cape Verde (+238)</option>
                  <option value="+ 345">Cayman Islands (+ 345)</option>
                  <option value="+236">Central African Republic (+236)</option>
                  <option value="+235">Chad (+235)</option>
                  <option value="+56">Chile (+56)</option>
                  <option value="+86">China (+86)</option>
                  <option value="+61">Christmas Island (+61)</option>
                  <option value="+57">Colombia (+57)</option>
                  <option value="+269">Comoros (+269)</option>
                  <option value="+33">France (+33)</option>
                  <option value="+49">Germany (+49)</option>
                  <option value="+30">Greece (+30)</option>
                </select>
                
              </div>
              <div class="form-group col-8">
                <input type="text" class="form-control" placeholder="Phone Number">
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="txtEmail" placeholder="Email Address">
            </div>
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Subscribe Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</main>