@model ISMWebApp.Models.Credentials;
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<hr>
<form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" id="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>