<header class="contact-header">
  <div class="container">
    <h1>CONTACT: Thailand</h1>
  </div>
</header>

<main class="container contact-main">
  <div class="row">
    <section class="col-lg-6">
      <h2>ISM Thailand</h2>
      <p>General Equiries</p>
      <app-contact-form [email]="'info@ismigration.com.au'"></app-contact-form>
    </section>
    <div class="col-lg-6">
      <section>
        <h3 class="text-center">Contact Us</h3>
        <p class="lead">Pare Pawalee Wiseswoharn</p>
        <ul>
          <li>M:    +66 96 634 8854</li>
          <li>E:      pawalee@ismigration.com.au</li>
          <li>Line: iampawalee</li>
          <li>Line: ism2au</li>
        </ul> 
      </section>
      <hr>
      <section>
        <h3 class="text-center">Our Address</h3>
        <address>Room 1240, Level 12, ZEN World <br> Tower, 4 4/5 Rama 1 Road, <br> Pathum Wan, Bangkok 10330</address>
      </section>
    </div>
  </div>
</main>