header {
    height: 50vh;
    background-image: url("../../../assets/img/40b9013510d1457fa38b4b385172fba4.jpg");
    background-attachment: fixed;
    background-position: top;
}

#team {
    background-color: rgb(241, 241, 241);
    padding: 1.5em 0;
}

.about-ism {
    margin-top: 2em;
    margin-bottom: 2em;
}