<header>
  <div class="container">
    <h1 class="text-center header-h1">About Us</h1>
  </div>
  
</header>

<main>
  <section class="container about-ism">
    <h2>ISM</h2>
    <p>International Skilled Migration is Australia's leading immigration firm. We provide expert immigration advice and visa services worldwide for the temporary or permanent entry to Australia for professionals, skilled workers, business migrants and families through our panel of MARA agents.</p>
    <p>We aim to make the transition to Australia as seamless and simplified as possible. In order to provide the highest level of service to all clients, we have implemented procedures to ensure that visa applications are submitted in the shortest timeframe and that no time is lost through insufficient or incomplete information being provided to the Department of Immigration.</p>
    <p>Our panel of Australian MARA Registered Migration Agents can advise and assist clients in all aspects of Australian visas and migration law. From initial assessments through to the processing and lodgment of migration applications. Our professional staffs are on hand to ensure the process of migrating to Australia is a smooth one.</p>
  </section>
  <section id="team">
    <div class="container">
      <h2>Our Team</h2>
      <div class="row">
        <article class="col-md-6">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/profile/b92603_7fe830169e804a69bc457ec48ef145cd.jpg" alt="">
            </div>
            <div class="col-8">
              <h4>Craig Wheeler, Director</h4>
              <ul>
                <li>craig@ismigration.com.au</li>
                <li>M: +61 401 557 655</li>
                <li>Ph: +61 (02) 8604 2352</li>
              </ul>
            </div>
          </div>
          <p><small>Craig Wheeler started the company in 2014 to assist in the growing need in immigration assistance of the 457 applicants through his network of employers. Craig is an Industrial Chemist who worked for multinational companies in the technical sales consultant role working nationally and internationally. Craig also worked in the hospitality arena for nearly 30 years and brings to the company business experience with a client focused goal outcome.</small></p>
          <p><small>Craig’s business network has allowed the company to grow to an international standard with currently two international offices in Thailand and Turkey with rapid expansions in further two countries proposed by the end of the year.</small></p>
        </article>
        <article class="col-md-6">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/profile/b92603_1f2dbe43e0364ab98414feb29dcd53fe.jpg" alt="">
            </div>
            <div class="col-8">
              <h4>Kenan Bircan, Migration Agent</h4>
              <ul>
                <li>kenan@ismigration.com.au</li>
                <li>M: +61 421 618 522</li>
                <li>Ph: +61 (02) 9643 5164 | +61 (02) 8604 2352</li>
              </ul>
            </div>
          </div>
          <p><small>Kenan is from Turkey. He studied Bachelor of International Relations at Uludag University. He came to Australia in 1998 to study Bachelor of Computer Engineering at Western Sydney University. He owned small businesses and lived in regional Australia for six years and returned back to Sydney in 2013. In the same year Kenan studied Graduate Certificate in Migration Law and Practice and Refugee Law and Practice short course at Australian National University. He is currently working as a migration agent and studying Masters in Migration Law and Practice at Australian National University. Kenan is specialised in Employer Sponsored Migration, Partner Migration and Refugee Law for onshore or offshore humanitarian visa applications.</small></p>
        </article>
        <article class="col-md-6">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/profile/b92603_0ee804142149443c9e08a60ef8d7bdb3.jpg" alt="">
            </div>
            <div class="col-8">
              <h4>Nart Wheeler, Consultant</h4>
              <ul>
                <li>nart@ismigration.com.au</li>
                <li>M: +61 468 958 499</li>
                <li>Ph: +61 (02) 8604 2352</li>
              </ul>
            </div>
          </div>
          <p><small>Jaratlak (Nart) Wheeler is a Diploma Qualified Hairdresser from Thailand. She currently works with a high end salon in Castle Hill and assists Thai Nationals in communicating with them in Thailand and also locally and assists with Recognition in Prior Learning activities to assist in client qualifications. Nart also worked in hospitality as a manager for over 3 years and is a client focused consultant for ISM onshore and offshore.</small></p>
        </article>
        <article class="col-md-6">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/profile/b92603_141955123dee4b5487999e50cd538c27.jpg" alt="">
            </div>
            <div class="col-8">
              <h4>Kevin Ryan, Migration Agent</h4>
              <ul>
                <li>kevin@ismigration.com.au</li>
                <li>M: +61 418 188 502</li>
                <li>Ph: +61 (02) 8604 2352 | +61 (02) 9643 5164</li>
              </ul>
            </div>
          </div>
          <p><small>Kevin was born to an Anglo-Irish father and Hong Kong mother. He migrated to Australia after living in Hong Kong, UK and Malaysia as a child. Kevin grew up in Melbourne, studied Economics at Monash University before venturing to Hong Kong to work in Finance and Banking for 10 years. Whilst in Hong Kong he was qualified as a CPA accountant and Mastered in Applied Finance from Macquarie University. Kevin returned to Australia to work for various banks before changing careers to work as a Migration Agent attaining his Graduate Certificate in Migration Law at ANU. Kevin is diligent and passionate about similarly helping others achieve their Australian migration goals.</small></p>
        </article>
        <article class="col-md-6">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/profile/b92603_ba01419306a741928d17bfaa386e2372~mv2.jpg" alt="">
            </div>
            <div class="col-8">
              <h4>Pare Pawalee Wiseswoharn, 
                  Bangkok Education Manager</h4>
              <ul>
                <li>pawalee@ismigration.com.au</li>
                <li>M: +66 9 6793 2565 (TH)</li>
                <li>Phone: +61 478 004 143 (AU)</li>
              </ul>
            </div>
          </div>
          <p><small>Pawalee (Pare) Wiseswoharn is a native Thai who is fluent in English and also has a professional working proficiency of Chinese (Mandarin). She graduated with a bachelor’s degree in international trade from Donghua University in Shanghai, China. She joined the company in December 2016 and is currently holding the position of Education / Marketing Manager. Pare is ISM Bangkok office manager and education consultant for Bangkok, she also has a strong background in business administration.</small></p>
        </article>
        <article class="col-md-6">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/profile/b92603_b6b2df9e905f471ba9ce64cb7910c1b3.png" alt="">
            </div>
            <div class="col-8">
              <h4>Dilvan Bircan, Auburn Office Manager / Consultant</h4>
              <ul>
                <li>dilvan@ismigration.com.au</li>
                <li>M: +61 401 711 483</li>
                <li>Ph: +61 (02) 9643 5164</li>
              </ul>
            </div>
          </div>
          <p><small>Dilvan Bircan was born and raised in Australia. Speaks English and Turkish and communicates to the Turkish people here in Australia. Studied Office Administration and worked in Payroll for 4 years, then owned a small business and lived in regional Australia for six years and returned back to Sydney in 2013. I worked in small businesses for 15 years, 9 of those years I have owned them. I am currently studying Diploma of Business and now I am privileged to be working as a consultant at International Skilled Migration as well as looking after the Finances of the business.</small></p>
        </article>
        <article class="col-md-6">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/profile/b92603_437fb3e8860e42c2acceea9077b4a3c2~mv2.jpg" alt="">
            </div>
            <div class="col-8">
              <h4>David Chuan <small>(Chien-Wen Peng)</small> 
                  Education Consultant</h4>
              <ul>
                <li>david@ismigration.com.au</li>
                <li>M: +61 415 244 117</li>
              </ul>
            </div>
          </div>
          <p><small>David is from Taiwan, he speaks Mandarin and English, in 2012 he arrive in Australian on a Working Holiday visa and later on change to a student visa, he worked in a meat factory and recruitment agency. After falling in love with Australia, in 2013 David began to study and research in Migration law and immigration, with 3years experiences of working in consulting agencies for Taiwanese and Chinese client. At the end of 2016 David has joined the ISM team as one of our Consultant.</small></p>
        </article>
        <article class="col-md-6">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/profile/b92603_507d803411f3451fba21fa6e3d6b9494.jpg.png" alt="">
            </div>
            <div class="col-8">
              <h4>Nancy Arslan , Turkey
                  Office Manager / Consultant</h4>
              <ul>
                <li>nancy@ismigration.com.au</li>
                <li>M: +90 535 540 0104</li>
              </ul>
            </div>
          </div>
          <p><small>Nancy Arslan is Turkish Australian, after she completed her education in Australia, she moved to Turkey and worked as a Native speaker, IELTS and TOEFL teacher, teaching presentation, body language, and proof reading as well as an editor in private companies, hospitals, National Assembly, millitary hospital and other important names. Now, she is privileged to be working as an operation manager with Intermational Skilled Migration at our Turkey Office, which is located on the same road as the Australian Embassy.</small></p>
        </article>
      </div>
    </div>
  </section>
  
</main>