<header class="contact-header">
  <div class="container">
    <h1>CONTACT: Turkey</h1>
  </div>
</header>

<main class="container contact-main">
  <div class="row">
    <section class="col-lg-6">
      <h2>ISM Turkey</h2>
      <p>General Equiries</p>
      <app-contact-form [email]="'info@ismigration.com.au'"></app-contact-form>
    </section>
    <div class="col-lg-6">
      <section>
        <h3 class="text-center">Contact Us</h3>
        <p class="lead">Nancy Arslan</p>
        <ul>
          <li>M: +90 535 540 0104</li>
          <li>E: nancy@ismigration.com.au</li>
        </ul> 
      </section>
      <hr>
      <section>
        <h3 class="text-center">Our Address</h3>
        <address>Ugur Mumcu Cad. Cimen Apt.<br>35/9 Gazi Osman Pasa, Ankara</address>
      </section>
    </div>
  </div>
</main>