<header>
  <section class="container">
    <h1 class="text-center">International Skilled Migration</h1>
    <div class="carousel slide">
      <ol class="carousel-indicators">
        <li [class.active]="slides[0]" (click)="currentSlide(1)"></li>
        <li [class.active]="slides[1]" (click)="currentSlide(2)"></li>
        <li [class.active]="slides[2]" (click)="currentSlide(3)"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" [class.active]="slides[0]">
          <div class="carousel-caption">
            <blockquote>
              <h2 class="text-center">Your Bridge to Australia</h2>
            </blockquote>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quisquam, molestiae tempore debitis vero ducimus vel tempora assumenda delectus eius reiciendis veritatis sit! Ipsum provident corporis voluptatibus ipsa distinctio quae.</p>
          </div>
        </div>
        <div class="carousel-item" [class.active]="slides[1]">
          <div class="carousel-caption">
            <blockquote>
              <h2 class="text-center">Get Enrol into your Course</h2>
            </blockquote>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dignissimos beatae! Suscipit numquam harum architecto, dolor quam quaerat a maxime dolorem modi voluptates voluptatem sapiente repudiandae debitis sunt quisquam accusantium.</p>
          </div>
        </div>
        <div class="carousel-item" [class.active]="slides[2]">
          <div class="carousel-caption">
            <blockquote>
              <h2 class="text-center">Language Something</h2>
            </blockquote>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore impedit similique earum aspernatur aliquid, a eveniet illum esse atque, repudiandae harum, quidem doloribus facere dolorum magni maxime nostrum dolorem eius?</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" (click)="plusSlides(-1)">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" (click)="plusSlides(1)">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- <div class="row header-contexts" *ngIf="slides[0]">
      <div class="col-lg-6">
        <h2>Education Services</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet blanditiis aliquid quibusdam omnis ratione vero quia perferendis, quod iste dolorum libero minus praesentium, sed necessitatibus est atque. Omnis, expedita molestiae!</p>
      </div>
      <div class="col-lg-6">
        <img src="assets/img/196422.jpg" alt="">
      </div>
    </div>  
    <div class="row header-contexts" *ngIf="slides[1]">
      <div class="col-lg-6">
        <h2>Migration Services</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet blanditiis aliquid quibusdam omnis ratione vero quia perferendis, quod iste dolorum libero minus praesentium, sed necessitatibus est atque. Omnis, expedita molestiae!</p>
      </div>
      <div class="col-lg-6">
        <img src="assets/img/379714.jpg" alt="">
      </div>
    </div>  
    <div class="row header-contexts" *ngIf="slides[2]">
      <div class="col-lg-6">
        <h2>Language Services</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet blanditiis aliquid quibusdam omnis ratione vero quia perferendis, quod iste dolorum libero minus praesentium, sed necessitatibus est atque. Omnis, expedita molestiae!</p>
      </div>
      <div class="col-lg-6">
        <img src="assets/img/469528.jpg" alt="">
      </div>
    </div>   -->
  </section>
  
</header>

<main class="container home-main">
  <section class="our-services">
    <div class="row">
      <div class="col-6">
        <img src="assets/img/57d4ba8bc1ac4dbdaa556ee88a286704.png" alt="">
      </div>
      <div class="col-6">
        <h2>Our Services</h2>
        <p>We pride ourselves in what we do because we understand that everyone is unique and we are here to help and assist you in your journey towards your individual goals and dreams.</p>
      </div>
    </div>
    <div class="row">
      <article class="col-md-4">
        <h3>Education</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusantium, quam aut esse quisquam delectus? Maiores quo quam in tempore, ex magni. Accusamus alias quas sit repellat labore, accusantium repudiandae!</p>
      </article>
      <article class="col-md-4">
        <h3>Migration</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos voluptatem vitae possimus aut voluptates perferendis dicta cum, sit, rerum, aliquam qui nihil molestias quaerat nisi ipsam fugit alias rem doloribus.</p>
      </article>
      <article class="col-md-4">
        <h3>Language</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam minima asperiores nostrum ducimus nihil qui! Quas molestiae ratione ipsam reprehenderit dignissimos exercitationem dolorum. Quod consequuntur sit molestias saepe. Dolore?</p>
      </article>
    </div>
  </section>
  <section class="our-services">
    <div class="row">
      <div class="col-6">
        <h2>Our Team</h2>
        <p>ISM is Australia's leading immigration firm. We provide expert immigration advice and visa services worldwide for the temporary or permanent entry to Australia for professionals, skilled workers, business migrants and families through our panel of MARA agents.</p>
        <a routerLink="about-us" class="btn btn-primary">Read More</a>
      </div>
      <div class="col-6">
        <img src="assets/img/05e3dc_943db37ac3dd4d1ea09be299afc177d1.png" alt="">
      </div>
    </div>
  </section>
</main>