@model ISMWebApp.Models.VisasCategory;
@{
    ViewData["Title"] = "Edit Visas Category";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<form asp-controller="VisasCategory" asp-action="Edit" class="" method="post">
    <div asp-validation-summary="All" style="color:red;"></div>
    <div class="form-group">
      <label for="visaUrl">Visa URL</label>
      <input type="text" class="form-control" id="visaUrl" placeholder="Visa URL" asp-for="VisaUrl">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title" asp-for="Title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Description" asp-for="Description">
    </div>
    <div class="form-group">
      <label for="imgUrl">Image URL</label>
      <input type="text" class="form-control" id="imgUrl" placeholder="Image URL" asp-for="ImgUrl">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>