<header class="contact-header">
  <div class="container">
    <h1>CONTACT: Austalia</h1>
  </div>
</header>

<main class="container contact-main">
  <div class="row">
    <section class="col-lg-6">
      <h2>ISM Australia</h2>
      <p>General Equiries</p>
      <p>*All Agents are available at all office via appointment</p>
      <app-contact-form [email]="'info@ismigration.com.au'"></app-contact-form>
    </section>
    <div class="col-lg-6">
      <section>
        <h3 class="text-center">Contact Us</h3>
        <p class="lead">Kenan Bircan</p>
        <ul>
          <li>E:  kenan@ismigration.com.au</li>
          <li>M: +61 421 618 522</li>
          <li>T:   +61 2 9643 5164</li>
        </ul>
        <hr>
        <p class="lead">Kevin Ryan</p>
        <ul>
          <li>E: kevin@ismigration.com</li>
          <li>M: +61 418 188 502</li>
          <li>T:   +61 2 8604 2352 </li>
        </ul>
        <hr>
        <p class="lead">David Chuan (Chien-Wen Peng)</p>
        <ul>
          <li>M:  +61 415 244 117</li>
          <li>E:   david@ismigration.com.au</li>
          <li>Line:       david6606</li>
          <li>WeChat: yyang4010</li>
        </ul>  
      </section>
      <hr>
      <section>
        <h3 class="text-center">Address</h3>
        <div class="row">
          <div class="col-md-6">
            <p class="lead">Auburn Office:</p>
            <address>Suites 6&7 (Upstairs) <br> 2 Auburn Road, <br> Auburn, NSW 2144</address>
          </div>
          <div class="col-md-6">
            <p class="lead">Castle Hill Office:</p>
            <address>Unit 35/ 7, Hoyle Avenue, <br> Castle Hill, NSW 2154</address>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>