<footer class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/img/ISM-HiRes-logo.png" alt="">
    </div>
    <div class="col-md-2">
      <h3>Links</h3>
      <nav class="nav flex-column">
        <a class="nav-link" routerLinkActive="active" routerLink="about-us">About Us</a>
        <a class="nav-link" routerLinkActive="active" routerLink="education-services">Education</a>
        <a class="nav-link" routerLinkActive="active" routerLink="migration-services">Migration</a>
        <!-- <a class="nav-link" routerLinkActive="active" routerLink="language-services">Language</a> -->
        <a class="nav-link" routerLinkActive="active" routerLink="contact-us">Contact Us</a>
      </nav>
    </div>
    <div class="col-md-2">
      <h3>Locations</h3>
      <nav class="nav flex-column">
        <a class="nav-link" routerLinkActive="active" routerLink="/australia-contact">Australia Office</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/thailand-contact">Thailand Office</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/turkey-contact">Turkey Office</a>
      </nav>
    </div>
    <div class="col-md-4">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id possimus laborum, aperiam soluta quos quaerat sunt, eum libero asperiores unde maxime quibusdam nulla voluptate deleniti facilis doloremque iste esse nostrum!</p>
    </div>
  </div>
  <hr>
  <p class="text-center">This website was created by <a href="http://shelleysoftwaredevelopment.com.au" target="_blank">Shelley Software Development</a></p>
  <p class="text-center">&copy; 2018 - International Skilled Migration</p>
</footer>
